<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
    <servlet>
      <servlet-name>DetectionServlet</servlet-name>
      <servlet-class>DetectionServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>RecognitionServlet</servlet-name>
      <servlet-class>RecognitionServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>TrackingServlet</servlet-name>
      <servlet-class>TrackingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetectionServlet</servlet-name>
        <url-pattern>/DetectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecognitionServlet</servlet-name>
        <url-pattern>/RecognitionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingServlet</servlet-name>
        <url-pattern>/TrackingServlet</url-pattern>
    </servlet-mapping>
</web-app>