<html>
    <div>
        <span style="display:inline-block; width: 50;"></span>
        Face Tracking Demonstration
        <span style="display:inline-block; width: 100;"></span>
        Face Detection Demonstration
        <span style="display:inline-block; width: 100;"></span>
        Face Recognition Demonstration
    </div>
    <div>
        <img src="{{ url_for('face_track') }}">
        <img src="{{ url_for('face_detect') }}">
        <img src="{{ url_for('face_recog') }}">
    </div>
</html>
